In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_rows', 1000)

In [112]:
import numpy as np
import pandas as pd
import json
import folium
import geojson
import requests

In [17]:
all_ut_csv = pd.read_csv('covid417.csv')
all_ut_csv.rename(columns={'rate':'rate per 100K'},inplace = True)
all_ut_csv['date'] = pd.to_datetime(all_ut_csv['date'], format = '%Y%m%d')

In [39]:
all_ut_csv.to_csv('covCounty')

In [36]:
#putting slc and north area zips into arrays
slco_np = np.array([[20200416,84006,0],[20200416,84009,74.4],[20200416,84020,78.1],[20200416,84044,142.1],[20200416,84047,80.5],[20200416,84065,104.8],[20200416,84070,77.6],[20200416,84081,71.2],[20200416,84084,59.9],[20200416,84088,90.8],[20200416,84092,57.5],[20200416,84093,76.6],[20200416,84094,31.0],[20200416,84095,35.6],[20200416,84096,52.0],[20200416,84101,357.1],[20200416,84102,210.0],[20200416,84103,105.0],[20200416,84104,222.9],[20200416,84105,160.2],[20200416,84106,160.9],[20200416,84107,161.9],[20200416,84108,62.4],[20200416,84109,159.5],[20200416,84111,173.1],[20200416,84112,50.3],[20200416,84115,141],[20200416,84116,196.9],[20200416,84117,107.0],[20200416,84118,116.6],[20200416,84119,256.0],[20200416,84120,151.6],[20200416,84121,66.3],[20200416,84123,95.3],[20200416,84124,71.7],[20200416,84128,148.9],[20200416,84129,85.8]])
slco = pd.DataFrame(slco_np,columns = ['date','zip','rate per 100K'])
slco.date = slco.date.astype(int)
slco['date'] = pd.to_datetime(slco['date'], format = '%Y%m%d')

In [69]:
dv_np = (np.array([[20201416,84056,18.19,'Hill'],[20201416,84310,18.19,'Weber'],[20201416,84317,18.19,'Weber'],[20201416,84067,18.19,'Weber'],[20201416,84403,18.19,'Weber'],[20201416,84401,18.19,'Weber'],[20201416,84414,18.19,'Weber'],[20201416,84404,18.19,'Weber'],[20201416,84315,34.67,'Hooper'],[20201416,84015,34.67,'Hooper-Clearfield'],[20201416,84075,61.22,'Syracuse'],[20201416,84040,46.19,'Layton'],[20201416,84041,46.19,'Layton2'],[20201416,84405,46.19,'Layton-South Weber'],[20201416,84037,38.38,'Kaysville'],[20201416,84025,49.36,'Farmington'],[20201416,84014,96.90,'Centerville'],[20201416,84010,75.11,'Woods Cross'],[20201416,84054,109.41,'N Salt Lake'],[20201416,84025,114.94,'Bountiful'],[20201416,84087,75.1,'West Bountiful']]))

In [70]:
dv= pd.DataFrame(dv_np,columns = ['date','zip','rate per 100K','city'])
dv.head()

       date    zip rate per 100K   city
0  20201416  84056         18.19   Hill
1  20201416  84310         18.19  Weber
2  20201416  84317         18.19  Weber
3  20201416  84067         18.19  Weber
4  20201416  84403         18.19  Weber

In [71]:
dv.date.replace(['20201416'], 20200416, inplace=True)

In [50]:
dv.date = dv.date.astype(int)

In [66]:
dv.date
type(dv.date[0])
type(slco)

0     20200416
1     20200416
2     20200416
3     20200416
4     20200416
5     20200416
6     20200416
7     20200416
8     20200416
9     20200416
10    20200416
11    20200416
12    20200416
13    20200416
14    20200416
15    20200416
16    20200416
17    20200416
18    20200416
19    20200416
20    20200416
Name: date, dtype: int64

numpy.int64

pandas.core.frame.DataFrame

In [72]:
dv['date'] = pd.to_datetime(dv['date'], format = '%Y%m%d',errors = 'ignore')
dv.date[0]

Timestamp('2020-04-16 00:00:00')

In [73]:
ds = dv.append(slco)

In [74]:
ut_df = all_ut_csv.append(ds)

In [81]:
ut_df.to_csv('ut_df')

In [78]:
ut_df = ut_df.astype({"zip": int, "rate per 100K": float})

In [80]:
ut_df.rename(columns={'rate per 100K':'rate'},inplace = True)

In [109]:
ut_df2.dtypes

date          datetime64[ns]
zip                    int64
rate                 float64
Unnamed: 3           float64
city                  object
dtype: object

In [107]:
ut_df.to_pickle('utdf.pkl')

In [108]:
ut_df2 = pd.read_pickle('utdf.pkl')

In [103]:
ut_df = ut_df.astype({"zip": int})

In [17]:
slco.shape
nan_data = np.empty((37,1))
nan_data[:]=np.nan
slco['city']=nan_data
slco.head()
dv.head()

(37, 3)

         date      zip  rate per 100K  city
0  20200416.0  84006.0            0.0   NaN
1  20200416.0  84009.0           74.4   NaN
2  20200416.0  84020.0           78.1   NaN
3  20200416.0  84044.0          142.1   NaN
4  20200416.0  84047.0           80.5   NaN

       date    zip rate per 100K   city
0  20201416  84056         18.19   Hill
1  20201416  84310         18.19  Weber
2  20201416  84317         18.19  Weber
3  20201416  84067         18.19  Weber
4  20201416  84403         18.19  Weber

In [18]:
dv['date'][:]= 20200416

In [19]:
dv

        date    zip rate per 100K                city
0   20200416  84056         18.19                Hill
1   20200416  84310         18.19               Weber
2   20200416  84317         18.19               Weber
3   20200416  84067         18.19               Weber
4   20200416  84403         18.19               Weber
5   20200416  84401         18.19               Weber
6   20200416  84414         18.19               Weber
7   20200416  84404         18.19               Weber
8   20200416  84315         34.67              Hooper
9   20200416  84015         34.67   Hooper-Clearfield
10  20200416  84075         61.22            Syracuse
11  20200416  84040         46.19              Layton
12  20200416  84041         46.19             Layton2
13  20200416  84405         46.19  Layton-South Weber
14  20200416  84037         38.38           Kaysville
15  20200416  84025         49.36          Farmington
16  20200416  84014          96.9         Centerville
17  20200416  84010         75.11         Woods Cross
18  20200416  84054        109.41         N Salt Lake
19  20200416  84025        114.94           Bountiful
20  20200416  84087          75.1      West Bountiful

In [22]:
zips_df = np.array(slco[['zip','rate per 100K']].append(dv[['zip','rate per 100K']]))

In [24]:
zips_df = np.array(dv[['zip','rate per 100K']])

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
zdf = pd.DataFrame(zips_df,columns=('zip','rate'))
#zdf.append(cv17['zip','rate'], ignore_index=True)

In [91]:
zdf = pd.DataFrame(ut_df,columns = ('date','zip','rate'))
zdf = zdf.astype({"zip": int, "rate": float})
zdf

ValueError: invalid literal for int() with base 10: '84006.0'

In [ ]:
type(zdf.zip[0])
type(zdf.rate[0])
zdf = zdf.astype({"zip": int, "rate": float})
type(zdf.zip[0])
type(zdf.rate[0])
zdf = zdf.astype({"zip": str, "rate": float})
type(zdf.zip[0])
type(zdf.rate[0])

In [ ]:
zdf.to_csv('zdf.csv')

In [ ]:
pd.DataFrame(zips_df).to_csv("zips.csv")

In [ ]:
pd.DataFrame(dv).to_csv('dv.csv')

In [110]:
# request zip boundary data
req = requests.get('https://raw.githubusercontent.com/OpenDataDE/State-zip-code-GeoJSON/master/ut_utah_zip_codes_geo.min.json')
zips_geo = req.json()

JSONDecodeError: Extra data: line 1 column 4 (char 3)

In [ ]:
zips_geo['features'][1]['properties']['ZCTA5CE10']

In [ ]:
zips_geo['features'][0]['properties']['ZCTA5CE10'] = '84331'
zips_geo['features'][0]['properties']['ZCTA5CE10']

In [113]:
#needed the correct key_on address and to make sure zip data type matched the json zip data type (ints,strings) not float

req = requests.get('https://raw.githubusercontent.com/OpenDataDE/State-zip-code-GeoJSON/master/ut_utah_zip_codes_geo.min.json')
zips_geo = req.json()

JSONDecodeError: Extra data: line 1 column 4 (char 3)

In [ ]:
m = folium.Map(location=[41.1097, -111.9827], zoom_start=9)

folium.Choropleth(
    geo_data=zips_geo,
    name='choropleth',
    data=zdf,
    columns=['zip', 'rate'],
    key_on='feature.properties.ZCTA5CE10',
    fill_color = 'Reds',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name= 'rate per 100K'
).add_to(m)

folium.LayerControl().add_to(m)

m

In [ ]:
##check to see my geojson is good, basic outlines of zip codes in UT
m = folium.Map(location=[40.8486, -111.9069], zoom_start=3)

folium.GeoJson(
    zips_geo,
    name='geojson'
).add_to(m)

folium.LayerControl().add_to(m)

m

In [ ]:
#stock example

url = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data'
state_geo = f'{url}/us-states.json'
state_unemployment = f'{url}/US_Unemployment_Oct2012.csv'
state_data = pd.read_csv(state_unemployment)

m = folium.Map(location=[48, -102], zoom_start=3)

folium.Choropleth(
    geo_data=state_geo,
    name='choropleth',
    data=state_data,
    columns=['State', 'Unemployment'],
    key_on='feature.id',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='Unemployment Rate (%)'
).add_to(m)

folium.LayerControl().add_to(m)

m

In [ ]:
#https://python-visualization.github.io/folium/quickstart.html

In [ ]:
#read in new data
c17 = pd.read_csv('covid417.csv')

In [ ]:

c17.rename(columns={"rate": "rate per 100K"})

In [ ]:
c17

In [ ]:
thermometers = 15*250

probes = (30*2000)*(100/1000)
thermometers+probes

In [ ]:
thermometers

In [ ]:
probes